.git
.github
.superpowers
**/node_modules
**/dist
test-results
server/**
!server/LICENSE
!server/NOTICE
!server/THIRD-PARTY-LICENSES.md
!server/web/
!server/web/package.json
!server/web/bun.lock
!server/web/classic/
!server/web/classic/**
!server/web/default/
!server/web/default/package.json
**/node_modules
**/dist
tests
docs
